@model IEnumerable<FootballLeagueManagmentSystem.Models.LeagueTable>

@{
    ViewBag.Title = "ViewIndex";
}

<h2>ViewIndex</h2>


<table class="table" style="color: #10ad3a">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TableId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Played)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Win)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Draw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TableId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Played)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Win)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Draw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
       
    </tr>
}

</table>
